body.login-page {
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}
.login-box {
    background: rgba(255,255,255,0.9);
    border-radius: 10px;
    padding: 20px;
    
    margin-top: -150px;   /* nilai negatif untuk menggeser ke atas */
}

